/* reduce padding for posts */

td.body {
    padding: 1rem;
}

/* authorbox: reflow user stats */

td.stats li {
    display: inline-block;
}

td.stats li:nth-child(even) {
    float: left;
    clear: left;
}

td.stats li:nth-child(odd) {
    float: right;
    clear: right;
}

/* authorbox: shrink badge area */

td.authorbox div.barpad {
    padding: 0;
}

/* hide Site Notices header */

div.forums > div.columns div.barpad:nth-of-type(2) {
    display: none;
}

div.forums > div.columns div.barpad img.sprite {
    display: none ;
}

div.notice img:first-of-type {
    display: none;
}
